<div class="wallet-container">
  <lp-receiving [style.display]="currentPage === pageNameReceiving ? 'block' : 'none'" class="wallet-page"></lp-receiving>
  <lp-payment [style.display]="currentPage === pageNamePayment ? 'block' : 'none'" class="wallet-page"></lp-payment>
  <lp-account [style.display]="currentPage === pageNameAccount ? 'block' : 'none'" class="wallet-page"></lp-account>
</div>
<div class="tabbar">
  <div (click)="selectWalletMenu()" class="tab">
    <i class="icon flaticon-menu"></i>
    <div class="label">メニュー</div>
  </div>
  <div (click)="selectReceiving()" class="tab" [class.selected]="currentPage === pageNameReceiving">
    <i class="icon flaticon-cash"></i>
    <div class="label">受取り</div>
  </div>
  <div (click)="selectPayment()" class="tab" [class.selected]="currentPage === pageNamePayment">
    <i class="icon flaticon-credit-card"></i>
    <div class="label">支払い</div>
  </div>
  <div (click)="selectAccount()" class="tab" [class.selected]="currentPage === pageNameAccount">
    <i class="icon flaticon-wallet"></i>
    <div class="label">口座</div>
  </div>
</div>
<div [style.display]="displayPaging ? 'block' : 'none'"
      class="page-contents">
  <lp-paging [pagingName]="pagingName"></lp-paging>
</div>
