:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.page-a,
.page-b {
  position: absolute;
  transition-property: top;
  transition-property: left;

  &.moved {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.barrier {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
