<div class="side-menu" [style.width.px]="sideMenuWidth" [style.left.px]="sideMenuLeft" (click)="onClickSideMenu($event)">
  <div class="scroll-container">
    <div (click)="moveApplicationSettingPage()" class="menu-row">
      <div class="icon-wrapper">
        <i class="flaticon-gear"></i>
      </div>
      <div class="label-wrapper">
        <span class="label">設定</span>
      </div>
    </div>
    <div (click)="moveChannelListPage()" class="menu-row">
      <div class="icon-wrapper">
        <i class="flaticon-business-affiliate-network"></i>
      </div>
      <div class="label-wrapper">
        <span class="label">チャンネル</span>
      </div>
    </div>
    <div class="menu-row">
      <div class="icon-wrapper">
        <i class="flaticon-license-document"></i>
      </div>
      <div class="label-wrapper">
        <span class="label">ライセンス</span>
      </div>
    </div>
  </div>
</div>
