<div class="page-contents">
  <div class="scroll-container">
    <div class="invoice-form-wrapper">
      <div class="info-block">
        <div class="title">請求額を入力してください</div>
        <div class="receiving-amount-label">請求額</div>
        <div class="receiving-amount-value">
          <span class="value">{{numSatoshisView | toBtcString}}</span>
          <span class="unit">BTC</span>
        </div>
        <div class="number-keyboard">
          <table>
            <tbody>
              <tr>
                <td (click)="onInputNum('1')" class="key">1</td>
                <td (click)="onInputNum('2')" class="key">2</td>
                <td (click)="onInputNum('3')" class="key">3</td>
              </tr>
              <tr>
                <td (click)="onInputNum('4')" class="key">4</td>
                <td (click)="onInputNum('5')" class="key">5</td>
                <td (click)="onInputNum('6')" class="key">6</td>
              </tr>
              <tr>
                <td (click)="onInputNum('7')" class="key">7</td>
                <td (click)="onInputNum('8')" class="key">8</td>
                <td (click)="onInputNum('9')" class="key">9</td>
              </tr>
              <tr>
                <td class="key hidden"></td>
                <td (click)="onInputNum('0')" class="key">0</td>
                <td (click)="onInputNum('del')" class="key">
                  <i class="backspace flaticon-backspace"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button (click)="onSubmit()" class="submit-button" [class.disabled]="buttonDisabled" [disabled]="buttonDisabled">請求する</button>
      </div>
    </div>
  </div>
</div>
