<div class="toolbar">
  <div [style.display]="'none'" class="back">
    <i class="icon flaticon-arrows"></i>
  </div>
  <div class="title">口座情報</div>
</div>
<div class="page-contents">
  <div *ngIf="balance" class="scroll-container">
    <div class="balance-wrapper">
      <div class="info-block">
        <div class="payable-amount">
          <div class="menu-icons">
            <div (click)="moveSendCoinsPage()" class="icon icon-wrapper">
              <span class="send-coins flaticon-up-arrow"></span>
            </div>
            <div (click)="moveReceiveCoinsPage()" class="icon icon-wrapper">
              <span class="receive-coins flaticon-arrows-1"></span>
            </div>
            <span class="icon history flaticon-history"></span>
          </div>
          <div class="balance-label">お支払い可能額</div>
          <div class="balance-value">
            <span class="value">{{balance.channels.balance | toBtcString}}</span>
            <span class="unit">BTC</span>
          </div>
        </div>
        <div class="balance-label">合計残高</div>
        <div class="balance-value">
          <span class="value">{{balance.blockChain.totalBalance | toBtcString}}</span>
          <span class="unit">BTC</span>
        </div>
        <div class="balance-label">確定残高</div>
        <div class="balance-value">
          <span class="value">{{balance.blockChain.confirmedBalance | toBtcString}}</span>
          <span class="unit">BTC</span>
        </div>
        <div class="balance-label">未確定残高</div>
        <div class="balance-value">
          <span class="value">{{balance.blockChain.unconfirmedBalance | toBtcString}}</span>
          <span class="unit">BTC</span>
        </div>
      </div>
    </div>
  </div>
  <lp-loading-mask [name]="'account'" [show]="loading"></lp-loading-mask>
</div>